.ListOfGifs {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 0 16px;
    align-items: center;
    grid-template-rows: masonry;
}

.ListOfGifs-item {
    background-color: #eee;
    display: inline-block;
    width: 100%;
}

